<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings> 
    
    <!--地址设置-->
    <add key="矢网地址" value="GPIB0::16::INSTR"/>
    
    <!--矢网窗口名称设置-->
    <add key="窗口1" value="CH1_S11_1"/>
    <add key="窗口2" value="CH1_S22_2"/>
    <add key="窗口3" value="CH1_S21_3"/>
    <add key="窗口4" value="CH1_S11_4"/> 
  </appSettings>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
